<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Slim3/Respond Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% block stylesheet %}{% endblock %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav id="header" class="nav navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Slim 3 + Tuum/Respond</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown{% block menuDocument %}{% endblock %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documents <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/docs/" >Document Top</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/docs/introduction" >Introduction</a></li>
                        <li><a href="/docs/responders" >Responders</a></li>
                        <li><a href="/docs/template" >Template</a></li>
                        <li><a href="/docs/controller" >Controller</a></li>
                    </ul>
                </li>
                <li class="dropdown{% block menuSample %}{% endblock %}{{ view.attribute('menu-sample') }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Samples <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/toHome">Redirect to named rout</a></li>
                        <li><a href="/back">Redirect back to referrer</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ view.route('jump') }}">Form and Validation Errors</a></li>
                        <li><a href="{{ view.route('upload') }}">File Upload</a></li>
                        <li><a href="{{ view.route('paginate') }}?_page">Pagination</a></li>
                        <li><a href="{{ view.route('forms') }}">Various Forms</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ view.route('hello', {'name': 'from menu'}) }}">Hello page</a></li>
                        <li><a href="{{ view.route('phpInfo') }}">php info</a></li>
                    </ul>
                </li>

                <li class="dropdown{% block menuError %}{% endblock %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Errors <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/not-such-file">Not Found Error</a></li>
                        <li><a href="/throw">Uncaught Exception</a></li>
                        <li style="padding-left: 1em;">
                            <form action="/upload" method="post">
                                <input type="submit" value="CsRf Forbidden" class="btn btn-xs btn-warning">
                            </form>
                        </li>
                        <li><a href="{{ view.route('bad') }}">Badly formed twig template</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block jumbotron %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">HOME</a></li>
        {% block breadlist %}
        {% endblock %}
    </ol>
{% endblock %}

<div class="content">

    <div class="col-md-12">

        {% include('_form/message.twig') %}

        {% block content %} {% endblock %}

    </div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<nav id="footer" class="nav navbar-fixed-bottom navbar-default">
    <div class="container">
        <div class="col-sm-8">
            <h4>Slim 3 + Tuum/Respond</h4>
            <p><em>Tuum</em> means 'yours' in Latin. </p>
        </div>
        <div class="col-sm-4">
            {{ view.call('Demo\\Controller\\LoginPresenter') |raw }}
        </div>
    </div>
</nav>

</body>
</html>