{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>Let's Jump!!</h1>

    {{ viewData.message|raw }}

    <p>This sample shows how to create a form input and shows the error message from the redirection.</p>

    <h3>Sample Form</h3>

    <form method="post" action="jumper" class="">
        <input type="hidden" name="_token" value="{{ _token }}">

        <div class="form-group">
            {{ viewData.forms.label('some text:', 'jumped')|raw }}
            {{ viewData.forms.text('jumped', 'original text').id().class('form-control')|raw }}
            {{ viewData.errors.get('jumped')|raw }}
        </div>

        <input type="submit" value="jump!" class="btn btn-primary"/>&nbsp;
        <input type="button" value="clear" onclick="location.href='jump'" class="btn btn-default"/>

    </form>

{% endblock %}