{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>Let's Jump!!</h1>

    {{ viewData.message|raw }}

    <p>This sample shows how to create a form input and shows the error message from the redirection.</p>

    <h3>Sample Form</h3>

    <form method="post" action="" class="">
        <input type="hidden" name="_token" value="{{ _token }}">

        <div class="form-group">
            <label for="text2">extra text</label>
            <input type="text" name="text2" id="text2" value="{{ viewData.inputs.get('jumped', 'original text') }}"
                   class="form-control"/>
            {{ viewData.errors.get('jumped')|raw }}
        </div>

        <input type="submit" value="jump!" class="btn btn-primary"/>&nbsp;
        <input type="button" value="clear" onclick="location.href=''" class="btn btn-default"/>

    </form>

    <h4>Sample code using inputs helper</h4>

    <div class="form-group">
        {{ viewData.forms.label('some text:', 'jumped')|raw }}
        {{ viewData.forms.text('jumped', 'extra text').id().class('form-control')|raw }}
        {{ viewData.errors.get('jumped')|raw }}
    </div>

{% endblock %}