{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>File Upload</h1>

    {{ viewData.message|raw }}

    <h2>Upload Form</h2>

    <p>please upload any file less than 512 byte. </p>

    <form method="post" action="" enctype="multipart/form-data">
        <input type="hidden" name="MAX_FILE_SIZE" value="512">

        <div class="form-group">

            {{ viewData.forms.label('file to upload', 'up')|raw }}
            {{ viewData.forms.file('up[0]').class('form-control').id('up').width('70%')|raw }}

        </div>

        <input type="submit" value="upload file" class="btn btn-primary"/>

    </form>

    {% if upload %}

        <h2>Uploaded File Information</h2>

        <dl class="dl-horizontal">

            <dt>getClientFilename</dt>
            <dd>{{ upload.getClientFileName() }}</dd>

            <dt>getClientMediaType</dt>
            <dd>{{ upload.getClientMediaType() }}</dd>

            <dt>getSize</dt>
            <dd>{{ upload.getSize() }}</dd>

            <dt>getError</dt>
            <dd>{{ upload.getError() }}</dd>

        </dl>

    {% endif %}

{% endblock %}