{% extends "layouts/layout.twig" %}

{% block content %}

    <div class="col-sm-6">
        <h3>Sample Pages</h3>
        <ul class="sample">
            <li><a href="toHome">redirect using named route</a><br>
                a simple redirect response using route name.</li>
            <li><a href="back">redirect back to referrer</a><br>
                a simple redirect response using referrer.</li>
            <li><a href="{{view.route('jump')}}">form validation errors sample</a><br>
                various ways to respond with form validation errors. </li>
            <li><a href="{{view.route('upload')}}">file upload</a><br>
                file upload controller and Presenter class.</li>
            <li><strong>login form in footer</strong><br>
                login form is rendered by LoginPresenter class from a template. </li>
            <li style="list-style: none; margin-left: -1.5em;"><h4>TuumPHP Samples</h4></li>
            <li><a href="{{view.route('paginate')}}">pagination</a><br>
                pagination sample using Tuum/Pagination. </li>
            <li><a href="{{view.route('forms')}}">various input form samples</a><br>
                various input forms using Tuum/Forms</li>
        </ul>

    </div>

    <div class="col-sm-6">
        <h3>Content and File-map</h3>
        <ul class="sample">
            <li><a href="docs">documents</a><br>
                using FileMap.</li>
            <li><a href="info" >php info</a></li>
        </ul>
    </div>

    <div class="col-sm-6">
        <h3>Error Samples</h3>
        <ul class="sample">
            <li><a href="not-such-file">not found</a></li>
            <li><a href="throw">catch exception</a> </li>
            <li><strong>forbidden error</strong> (post without CSRF tokens)
                <form action="jump" method="post">
                    <input type="submit" value="post w/o token!" class="btn btn-warning btn-xs" />
                </form></li>
            <li><a href="{{ view.route('bad') }}">badly formed twig template</a></li>
        </ul>
    </div>

    <div class="clearfix"></div>

{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        div.jumbotron h1 {
            font-size: 3em;
        }
        ul.sample li {
            margin-top: .5em;
        }
        ul.sample li>a {
            font-weight:bold;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>Slim 3 + Tuum/Respond</h1>
            <p>Tuum/Respond responder module sample with Slim 3 Framework.<br>
                This package turns a micro-framework into an ordinary framework for ordinary web site :P</p>
        </div>
    </div>
{% endblock %}