{% extends "layouts/layout.twig" %}

{% block breadlist %}
    <li>Samples</li>
    <li class="active">Pagination</li>
{% endblock %}

{% block content %}

    <h1>Pagination</h1>

    <div class="col-md-3">
        <form name="pagination" method="get" action="">
            <label>Key: <input type="text" name="key" value="{{ input.get('key') }}"
                               style="width: 5em;"></label><br/>
            <label>Love: <input type="checkbox" name="love" value="love"
                        {{ input.ifExists('love', 'love', ' checked') }}></label><br/>
            <label>Total: <input type="text" name="total" value="{{ input.get('total') }}"
                                 style="width: 3em;"></label><br/>
            <input type="submit" value="show pagination" class="btn btn-primary">
        </form>
    </div>

    <style type="text/css">
        div.found {
            display: inline-block;
            margin-right: .5em;
        }
    </style>

    <div class="col-md-9">

        {% for key, item in found %}

            <div class="found">{{ item }}</div>
            {% if not (key + 1) % 5 %} <br/> {% endif %}

        {% endfor %}

        <p>&nbsp;</p>

        {{ input.pagination | raw }}

    </div>

{% endblock %}
